NEXT_PUBLIC_SUPABASE_URL=https://dokthhunsfnnvsknogam.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRva3RoaHVuc2ZubnZza25vZ2FtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxNzkzMTIsImV4cCI6MjA3Mzc1NTMxMn0.33oTzz3BjRaDEut_1brXrL-K6190qNRJ3MHc4OrH7yY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRva3RoaHVuc2ZubnZza25vZ2FtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODE3OTMxMiwiZXhwIjoyMDczNzU1MzEyfQ.PDQb_LsjIrf2sw9wY9kkrEsUcquRywSYv_-HBx3-ZVw
OPENAI_API_KEY=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
ADMIN_PASSWORD=osjeckadzamija2025